main{
    padding-top: 36px;
}
.first_heading{
    font-size: 48px;
    margin-bottom: 28px;
    font-weight: 700;
}
.second_headig{
    font-size: 224px;
    line-height: 0.8;
    font-weight: 700;
    margin-bottom: 24px;
}

.responsiveImage{
    width:100%;
    height:auto;
    max-width: 720px;
}

.fivenumber{
    font-size: 68px;
    color: #cc0000;
    font-weight: 700;
}
.benifits{
    padding: 32px;
    text-align: center;
    font-size: 32px;
}
/* styles for mobiles */

@media screen and (max-width:52opx){
    .first_heading{
        font-size:32px;
    }
    .second_headig{
        font-size:96px;
    }
}